<footer class="row">
  <section class="small-2 columns medium-4 columns">
    Copyright 2016
  </section>
  <section class="small-4 columns medium-6 columns">
    All rights reserved
  </section>
</footer>
